*
{
box-sizing: border-box;
}
body{
  text-align: center;
  background-color: wheat;
  line-height: 1.7;
  font-family: 'Roboto', sans-serif;
  max-width:100%;
  margin:0 auto;
 }
#wrapper
{
    max-width:100%;
    margin:0 auto;
    background-color: white;
}
img{
    max-width: 100%;
}
/* p{
    padding: 0 10px 10px 10px;
    margin-top:0;
} */
h2{
    margin-bottom:7px;
}
/* logo styles */
.logo
{
text-transform: capitalize;
margin-top:0;
}
/* menu styles */
.main-nav
{
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    
}
.main-nav li{
    
    padding: 12px;
    background-color: white;
    margin-bottom: 3px;
}
.main-nav a:link{
    text-decoration: none;
    color:black;
    font-weight: bolder;
    text-transform: uppercase;
}
.main-nav a:visited
{
    color: black;
}
.main-nav li:hover{
    background-color:blanchedalmond;
}
.main-nav a
{
    display: block;
}

/* banner styles */
.profile-img
{
    width:300px;
    padding: 25px 10px 0px;
}
.tagline
{
    color: darkslategray;
    text-align: center;
    padding: 10px;
}
/* port styling */
.port-heading
{
    padding: 10px;
    margin: 25px;
    text-transform: uppercase;
}
.port
{
    background-color: white;
    margin:0 12px;
}


/* contact styles */
.heading
{
    text-transform: uppercase;
    padding-top: 25px;
    margin:10px;
}
footer{
    border-bottom: 1px solid #ccc;
}
ul {
    list-style: none;
    padding: 0;
}

.footer-nav {
    display: none;
}
.btmhead a:link
{
    color: black;
    text-decoration: none;
    font-size:20px;
    font-weight: bolder;
}
.btmhead a:visited
{
    color:black;
}


.container:before, .container:after{
    content: ' ';
    display: table;
}

.btmborder
{
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
}
.container
{
    max-width:90%;
    margin:0 auto;
}
 .btmlogo
{
    font-size:20px;
      float: left;
}
.btmhead
{
    float: right;
}

.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
#wrapper::before, #wrapper::after{
    content: ' ';
    display: table;
}
/* media queries */
@media (min-width:768px)
{

    .container
    {
        max-width:90%;
        margin:0 auto;
    }
    nav
    {
        margin-bottom: 40px;
    }
    .main-nav a
    {
        display: block;
    }
    .main-nav li
    {
        display: inline-block;
    }  
       /*banner styles  */
       #home{
           padding-bottom: 60px;
       }
       .tagline
       {
           float:left;
           width: 55%;
           margin: 0 12px;
           padding-left: 0;
           font-size: 22px;
           text-align: left;
           
       }
       .profile-img
       {
           float: right;
           width:35%;
           padding-right:0;
           margin-right: 12px;
          
           
        }
    
      .clearfix::after{
           content: "";
           display: table;
           clear: both;
       }
       .col{
           display: inline-block;
           width:50%;     
           margin-right: -5px;
        }
        /* footer navigation */
        .btmhead
        {
            display: none;
        }
        .footer-nav
        {
            list-style-type: none;
            margin: 0 12px;
            padding: 0;
        }
        .footer-nav a:link{
            text-decoration: none;
            color:black;
            font-weight: bolder;
            text-transform: uppercase;
        }
        .footer-nav li{
            padding: 12px;
            margin-bottom: 3px;
            margin-right: -4px;
            display: inline-block;
        }
      
        .footernav h3{
            float: left;
           margin:12px;
        }
        .footer-nav
        {
            float: right;
            display: block;
            
        }
        .footer-nav a:visited
        {
            color: black;
        }
        
        #wrapper::before, #wrapper::after{
            content: ' ';
            display: table;
        }
       
}

/* media queries for larger screen */
@media (min-width:1024px)
{
   .container
    {
        max-width:90%;
        margin:0 auto;
    }
    .logo{
        float: left;
        margin: 16px 12px;
    }
   .main-nav{
    margin: 16px 0px 16px 16px;
    float: right;
   }
   .main-nav a
   {
       font-size:20px;
   }
  .main-nav li
  {
     background-color: wheat;
  }
  .main-nav li:hover{
      background-color: wheat;
  }
  .main-nav a:hover{
      color:grey;
  }
    .clearfix::after{
        content: "";
        display: table;
        clear: both;
    }
    /* banner */
    .profile-img
    {
        float:right;
        width:30%;
        clear: both;
        
    }
   .tagline
   {
       float: left;
       padding: 20px 20px 20px 0;
       margin-right:12px;
       margin-left:10px;
       font-size: 25px;
       text-align: justify;
   }
   
   .col {
    width: 100%;
    padding-left:0%;
  }
  .column
  {
    width: 30%;
    float: left;
    margin: 0 13px;
  }
  .port-heading
  {
      padding: 10px;
      margin: 20px;
  }
  .container:before, .container:after{
    content: ' ';
    display: table;
}
#wrapper::before, #wrapper::after{
    content: ' ';
    display: table;
}
 
}